<h1 class="text-primary"> All Events </h1>

<h2 class="fw-bold"> Upcomin Events </h2>
<% @events.upcoming_events.each do |e| %>
  <h3>Event: <%= e.description %></h3>
  <h4>Date: <%= e.event_date%></h4>
  <h4 class= "fst-italic">Creator: <%= e.creator.username %></h4>
<%end%>
<hr>
<h2 class="fw-bold"> Past Events </h2>
<% @events.previous_events.each do |e| %>
  <h3>Event: <%= e.description %></h3>
  <h4>Date: <%= e.event_date%></h4>
  <h4 class= "fst-italic">Creator: <%= e.creator.username %></h4>
<%end%>

