<h2 class="fw-bold text-secondary mt-3"> Upcoming Events </h2>

<div class="card w-75">
  <div class="card-body">
    <% @events.upcoming_events.each do |e| %>
      <h5 class="card-title">Event: <%= e.description %></h5>
      <h6 class="card-text">Date: <%= e.event_date%></h6>
      <h6 class="card-text fst-italic">Creator: <%= e.creator.username %></h6> 
      <%if @current%>   
        <%= link_to 'Attend the Event', attended_events_new_path({:user_event_id => e.id}), class: 'btn btn-success' %> 
        <%= link_to 'Attendees', events_show_path({:id=>e.id}), class: 'btn btn-secondary' %> 
      <%end%>
    <%end%>
  </div>
</div>


<hr>
<h2 class="fw-bold text-secondary mt-3"> Past Events </h2>
<div class="card w-75">
  <div class="card-body">
    <% @events.previous_events.each do |e| %>
      <h5 class="card-title">Event: <%= e.description %></h5>
      <p class="card-text">Date: <%= e.event_date%></p>
      <p class="card-text fst-italic">Creator: <%= e.creator.username %></p>    
    <%end%>
  </div>
</div>




